* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'DM Sans', sans-serif;
  background-image: url(https://img.elo7.com.br/product/600x380/2A4CB3F/papel-de-parede-adesivo-pets-pet-shop-dog-cachorro-beer.jpg);
}

header,
main,
footer {
  background-color: rgb(199, 199, 199);
}
header {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-inline: 5rem;
}

header h3 {
  color: brown;
}

header h3:hover {
  color: rgb(199, 5, 5);
  font-size: 2.5rem;
  box-shadow: 2px 2px rgb(126, 0, 0);
}
header,
main,
footer {
  width: 80%;
  margin: 0 auto;
}
header ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

header ul li {
  margin-inline: 2rem;
}

main {
  display: flex;
  padding: 3rem;
}

main section h1 {
  font-size: 5rem;
}

main section p {
  line-height: 2.5rem;
}

main sectio:first-child {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-inline: 3rem;
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;
  flex-direction: column;
}

.social i {
  margin-right: 1rem;
  justify-content: center;
}
.social i:hover {
  color: red;
  cursor: pointer;
}
.social .fa-facebook:hover {
  color: #296fb4;
}
.social .fa-twitter:hover {
  color: #29a4d9;
}

.social a {
  text-decoration: none;
  color: inherit;
}

.social,
p,
a:last-child {
  padding: 1rem;
}

.botoes button {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 3rem;
  border: none;
  color: #fff;
  background-color: #dbbc51;
  cursor: pointer;
  border: 1px solid #997800;
}

.botoes button:hover {
  color: white;
  background-color: #d6a906;
}
.serviços {
  width: 40rem;
  background-color: rgba(255, 255, 255, 0.363);
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.serviços ul {
  list-style-type: none;
}
.serviços ul li {
  margin-top: 1rem;
}

/*SOBRE NÓS*/
.main-about {
  display: flex;
  flex-direction: column;
}
.main-about p {
  line-height: 3rem;
  text-align: justify;
  margin-top: 2rem;
}
.main-about h2 {
  margin-top: 2rem;
}

table {
  margin-top: 5rem;
  border: 1px solid white;
}

table thead {
  text-align: left;
}

tr {
  margin-top: 1.5rem;
}
th,
td {
  border: 1px solid white;
  padding: 1rem;
}
/*CONTATO*/
.contato section:first-child {
width: 30rem;
height: 50rem;
background-color: rgba(255, 255, 255, 0.363);
background-repeat: no-repeat;
}
.contato section i{
}
.contato section h3 {
  padding-top: 1rem;
  justify-content: space-around;

}