* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}

body {
  font-family: 'Jura', sans-serif;;
  text-align: center;
  font-size: 1.6rem;
}
header {
  width: 37.5rem;

  margin-left: auto;
  margin-right: auto;
}
.backgroud {
  width: 447px;
  height: 629px;
  border: 0.1rem solid #0720FD;
  background-color: #ffffff;

}
h1 {
padding-top: 1.9rem;
  }

p {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.8rem;
  margin-top: 5.8rem;
  margin-bottom: 7.2rem;
}
h4 {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  margin-top: 5.8rem;
  margin-bottom: 4.3rem;
}
.botão-1 {
  padding: 1.6rem 3.8rem;
  width: 17.0rem;
  height: 5.0rem;
  margin-right: 2.6rem;
  border-radius: 8.0rem;
  background-color: #8D0000;
  
  font-family:'DM Sans';
  color: #FFFFFF;

  border: none;


  
}
.botão-2 {
  padding: 1.6rem 3.8rem;
  width: 17.0rem;
  height: 5.0rem;
  border-radius: 8.0rem;
  background-color: #00856F;
  
  font-family: 'DM Sans';
  color: #FFFFFF;

  border: none;

}
button:hover {
  color: #ffff;
  background-color: #00856F;
}
button:first-child {
  border: 1.0rem solid #8D0000;
  color: #00856F
}